In [237]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib
import pandas as pd
import numpy as np
"""Load data """
df = pd.read_excel('/home/evzen/Downloads/HSC.xlsx')
"""Create dataset with name and Annotation ratio and fill NaN"""
df1 = df.iloc[:,[3,34]].drop(0, axis=0).fillna(0)
"""clean data and create list of names"""
df1 = df1[(df1 != 0).all(1)]
names_list =  df1.iloc[:,0]
nl = names_list.unique()
nl = np.delete(nl, -2)
nl = np.delete(nl, -10)
uniq_names = np.append(nl, "Vodák David")
my_list = uniq_names.tolist()
"""Calculate AR for each name in list"""
my_array = np.array([])
for x in my_list:
    filter_by_name = df1[df1["Annotator's name"]==x]
    soucet = filter_by_name.iloc[:, 1].sum()
    vypocet = soucet / len(filter_by_name)
    my_array = np.append(my_array, vypocet)
"""Create dataframe with names and calculations"""    
final_df = pd.DataFrame(data = {"Name": my_list,
                                 "AR":  my_array})
print("Prumer: " , final_df["AR"].mean())
print(final_df.describe())
final_df

Prumer:  149.53319985167633
                AR
count    97.000000
mean    149.533200
std     342.361174
min      35.023349
25%      86.060903
50%     107.371351
75%     134.247526
max    3461.123234

                      Name           AR
0            Mládek Martin   120.776828
1   Tran Anh Hoang Patrik    159.225584
2            Novotná Adéla   108.311508
3        Gabrielová Tereza   129.002257
4            Friedová Jana   127.387860
5                Vacek Jan   136.185497
6         Spálenková Adéla   199.074340
7        Šrejber Jakub Jan    69.234375
8            Červenka Petr   134.247526
9           Marvánek Jakub   110.831533
10            Šplíchal Jan    75.241987
11            Štrébl Pavel   128.400421
12       Frühauf Jaroslav     75.041568
13             Lazna Karel   101.856385
14             Jäger Marek   109.418026
15            Krejčí Petr   3461.123234
16              Krpeš Adam    72.201197
17             Vodák David    77.484987
18       Panchártek Daniel    93.702388
19        Stádníková Lucie   216.841508
20          Pekár Vladimír    82.065632
21          Lazarová Aneta   113.802482
22         Čukanová Adéla     74.445468
23        Šímová Štěpánka    134.492997
24          Majerník Radek   182.306536
25                Pok Petr    96.446568
26          Boháček Martin    85.860456
27      Zušťáková Michaela   113.122198
28        Mikulica Vojtěch    83.248762
29            Sýkora Marek   104.259835
..                     ...          ...
67             Kubiš Matěj   173.158058
68             Vondrák Jan    58.246542
69            Povolný Jan    224.126114
70          Rachapov Anuar    93.256151
71             Vykouk Adam    95.753974
72              Coufal Jan    84.804293
73        Nainarová Lucie    126.449942
74              Himmel Jan   119.231246
75           Ištvan Daniel   114.001881
76            Jelen Marcel   107.371351
77       Milichovský Filip   222.851432
78            Jireš Michal    88.573241
79              Boček Jan     92.151606
80             Čundrle Jan   176.223929
81                 Ha Tuan   131.279371
82               Holan Vít   152.587572
83              Flek Tomáš   174.326008
84              Kapoun Jan    99.748787
85               Hrubý Jan   105.333573
86               Boček Jan    74.621078
87            Čmuchař Jan    116.020111
88    Kadeřávková Michaela    35.023349
89        Syroťuk Alexandr   140.732265
90            Konečný Jiří    63.868907
91         Škultéty Matěj    219.707057
92          Němeček Ondřej   100.005584
93   Tran Anh Hoang Patrik    87.632330
94            Kučera Marek    44.134714
95         Chobotová Adéla    95.936043
96             Vodák David    77.484987

[97 rows x 2 columns]