In [28]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib
import pandas as pd
import numpy as np

"""Load data """
df = pd.read_excel('/home/evzen/Downloads/HSC.xlsx')

In [90]:
df1 = df.iloc[:, [4,36]].drop(0).dropna()
"""Create list of dates"""
df1["Start date "] = df1["Start date "].astype(str)
dates_list = df1["Start date "].unique().tolist()
dates_list.remove("30.06.0219")
dates_list.append("2019-06-30 00:00:00")
#dates_list
vypocet_array = np.array([])

for x in dates_list:
    
    df2 = df1[df1["Start date "] == x]
    day_soucet = df2["Annotation Ratio RB/1500fr. [min]"].sum()
    day_pocet = df2["Annotation Ratio RB/1500fr. [min]"].shape[0]
    day_vypocet = day_soucet / day_pocet
    vypocet_array = np.append(vypocet_array, day_vypocet)

df4 = pd.DataFrame(data= {"Dates": dates_list, "Mean AR": vypocet_array})    
df4 = df4.sort_values("Dates")    
#df4.plot.line()
df4

                  Dates    Mean AR
3   2019-06-11 00:00:00  77.319009
1   2019-06-12 00:00:00  75.276691
5   2019-06-13 00:00:00  64.435630
0   2019-06-14 00:00:00  74.569513
8   2019-06-15 00:00:00  73.492672
6   2019-06-17 00:00:00  71.556983
2   2019-06-18 00:00:00  70.441948
4   2019-06-19 00:00:00  34.925909
7   2019-06-20 00:00:00  37.574678
9   2019-06-21 00:00:00  27.122635
10  2019-06-22 00:00:00  47.214869
12  2019-06-23 00:00:00  53.220591
11  2019-06-24 00:00:00  42.259094
13  2019-06-25 00:00:00  40.074368
14  2019-06-26 00:00:00  18.352867
15  2019-06-27 00:00:00  41.777798
16  2019-06-28 00:00:00  37.441612
17  2019-06-29 00:00:00  21.107204
18  2019-06-30 00:00:00  15.096441
23  2019-06-30 00:00:00  15.096441
19  2019-07-01 00:00:00  41.938139
20  2019-07-02 00:00:00  40.439058
21  2019-07-03 00:00:00  17.255238
22  2019-07-04 00:00:00  15.771463

In [78]:
x = "2019-07-01 00:00:00"
df2 = df1[df1["Start date "] == x]
day_soucet = df2["Annotation Ratio RB/1500fr. [min]"].sum()
day_pocet = df2["Annotation Ratio RB/1500fr. [min]"].shape[0]
day_vypocet = day_soucet / day_pocet
vypocet_array = np.append(vypocet_array, day_vypocet)
vypocet_array

116

In [6]:
df.columns

Index(['File name', 'Status (annotatable or not annotatable and reason)',
       'Comment', 'Annotator's name', 'Start date ', 'Start time',
       'Finish date', 'Finish time', 'Net time spent on video (Dyn. objects)',
       'Net time spent on video (RB)', 'Net time spent on video (total)',
       'Time for annotation corrections after not succeful validation',
       'Annotation time in seconds. Automatic formula',
       'Number of objects (počet oanotovaných objektů dynamika)',
       'Number of frames', 'Break (čas strávený na přestávkách)',
       'Net time spent on video manipulation, clarifications, internal meetings (anotátor)',
       'Ready for validation', 'Time of first validation',
       'Name of first validator', 'Date of first validation',
       'Results of first validation', 'Repair notes after first validation',
       'Time of second validation ', 'Name of second validator',
       'Date of second validation', 'Results of second validation',
       'Repair notes after second validation', 'Time of third validation',
       'Name of third validator', 'Date of third validation',
       'Results of third validation', 'Repair notes after third validation',
       'Net time spent on video manipulation, clarifications, internal meetings (validátor)',
       'Annotation Ratio NET/1500fr [min]', '[min] per 1 dyn.obj.',
       'Annotation Ratio RB/1500fr. [min]',
       'Annotation Ratio NET/1500fr [min] filter', 'Validation time',
       'Validation Ratio ', 'Stav videa (info pro logistika a validátory)',
       'Čas práce A vč. přestávek (hod.)', 'Čas práce V (hod.) efektivní',
       'Čas práce V (hod.) total', 'Finish time - start time',
       'Rozdíl AQ vs. AO (kontrola pro anotátora)'],
      dtype='object')